@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}

body{
    overflow-x: hidden;
}

.wrapper{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-light-grayish-blue);
    width: 100vw;
    min-height: 100vh;
}

.container{
    max-width: 720px;
    width: 100%;
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 0px 25px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.title p{
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 1.5rem;
}

.notification-number{
    background-color: var(--Blue);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: var(--White);
    padding: 4px 10px;
}

.mark-btn{
    cursor: pointer;
    color: var(--Dark-grayish-blue);
}

.notifcaion-conatiner{
    border-radius: 8px;
    display: flex;
    gap: 15px;
    padding: 20px 25px;
    margin-bottom: 8px;
}

.active{
    background-color: var(--Light-grayish-blue-1);
    padding-right: 35px;
}

.profile-picture{
    width: 50px;
    height: 50px;
}

.notification-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notifcaion-content{
    color: var(--Dark-grayish-blue);
    position: relative;
}

.notifcaion-content::after{
    display: none;
    position: absolute;
    content: "";
    right: -15px;
    top: 6px;
    background-color: var(--Red);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.active .notifcaion-content::after{
    display: flex;
    position: absolute;
    content: "";
    right: -15px;
    top: 6px;
    background-color: var(--Red);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.username{
    font-weight: 800;
    color: var(--Very-dark-blue) !important;
}

.event{
    font-weight: 800;
    color: var(--Dark-grayish-blue);
}

.time{
    color: var(--Grayish-blue);
}

.red-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--Red);
}

.group{
    color: var(--Blue) !important;
}

.your-post img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.your-post{
    margin-left: auto;
}

.message{
    border-radius: 4px;
    border: 1px solid var(--Grayish-blue);
    margin-top: 5px;
    padding: 15px;
    color: var(--Dark-grayish-blue);
}

@media screen and (max-width: 500px){
    .wrapper{
        padding: 0;
    }
}